[Unit]
Description=MonstercatConnectNotifier
#OnFailure=failure-email@.service

[Service]
Type=simple
ExecStart=/home/luca/Dev/MonstercatConnectNotifier/notifier.py cron
